{% extends 'base.html' %}
{% load humanize %}

{% block content %}	
    <div class="col-lg-8">
        <!-- Title -->
        <h2 class="mt-4">{{ post.title }}</h2>

        <!-- Author, Date/Time, Category-->
        <!-- Author, Date/Time, Category-->
        <p style="color:gray;font-size:12px">
            <span title="Date Posted">
                <i class="far fa-hourglass"></i> &nbsp; {{ post.pub_date|date:"F j, Y" }}  &nbsp; &#8226;  &nbsp;
            </span>
            <span title="Post By : {{ post.author }}">
                <i class="fas fa-user-secret"></i> &nbsp;{{ post.author }} &nbsp; &#8226;  &nbsp;
            </span>
            <span title="Comment">
                <i class="far fa-comment-alt"></i> &nbsp; 5 comments &nbsp; &nbsp;
            </span>
            <span title="Views">
                <i class="far fa-eye"></i> &nbsp; 18,899 views
            </span>
        </p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ post.banner.url }}" alt="">
        <br/><br/>

        <!-- Post Content -->
        <p>{{ post.content|safe}}</p>

        <!-- More Contents -->
        {% for contents in post_contents %}
            <h4>{{ contents.header}}</h4>
            
            <p>{{ contents.content|safe}}</p>

            {{ contents.codes | safe }}
               
            
            
            

        {% endfor %}
        

       
        <br/><br/>
        <hr/>
        
    
    </div>

<script>
    $(document).ready(function(){
        $('#homebanner').remove();
    })

</script>


{% endblock %}