{% extends 'base.html' %}
{% load humanize %}

{% block content %}	
    <div class="col-lg-8">
        <!-- Title -->
        <h2 class="mt-4">{{ post.title }}</h2>

        <!-- Author, Date/Time, Category-->
        <p style="color:gray;font-size:14px">{{ post.pub_date|date:"F j, Y" }} &#8226; {{ post.author }} &#8226; {{ blog.category }}</p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ post.banner.url }}" alt="">
        <br/><br/>
        <!-- Post Content -->
        <p>{{ post.content}}</p>

       
        <br/><br/>
        <hr/>

    
    </div>
{% endblock %}