{% load staticfiles %}  
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ post_title }}</title>

  <!--google ajax cdn-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

  <!-- Code snippets hightligter -->
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  
  <!-- CodeCopy Vanilla/UMD bundle -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codecopy/umd/codecopy.min.css">
  <script src="//cdn.jsdelivr.net/npm/codecopy/umd/codecopy.min.js"></script>

  <!-- highlightjs-line-numbers -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.7.0/dist/highlightjs-line-numbers.min.js"></script>
  <script>hljs.initLineNumbersOnLoad();</script>

  <!--font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <!--google font api-->
  <link href="https://fonts.googleapis.com/css?family=Poller+One&display=swap" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-white bg-white sticky-top">
    <div class="container border-bottom pb-2">
      <a class="navbar-brand" href="{% url 'blog:home' %}" style="color:#A93226; font-family: 'Poller One', cursive;font-size:25px">How to do it?</a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!--search box-->
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" list="search" name="search" id="search" placeholder="Search content ...">
            
            <ul class="form-group list-group result" id="result"></ul>
            {% comment %} <datalist id="search">
              {% for data in all_content %}
                <option value="{{ data.title }}">
              {% endfor %}
            </datalist > {% endcomment %}

        </div>

        <ul class="navbar-nav ml-auto" style="color:#A93226 !important">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:about-me' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      {% block content %}					
      {% endblock %}

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
           {% comment %} <!-- Search Widget -->
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div> {% endcomment %}

            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Categories</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">Web Design</a>
                      </li>
                      <li>
                        <a href="#">HTML</a>
                      </li>
                      <li>
                        <a href="#">Freebies</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">JavaScript</a>
                      </li>
                      <li>
                        <a href="#">CSS</a>
                      </li>
                      <li>
                        <a href="#">Tutorials</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                {% lorem 1 b random %}
              </div>
            </div> 

        </div>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  <a href="javascript:" id="return-to-top">
      <i class="fas fa-angle-double-up"></i>
  </i></a>
 
  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script>
    
    $(document).ready(function() {

        $('code.hljs').each(function(i, block) {
            hljs.lineNumbersBlock(block);
        });

        codecopy('pre') // your code tag selector!
        
        //dump json search content
        search_content = {{ all_content | safe }}
        //start: filtering
        $('#search').keyup(function(){
          
          $('#result').html('');
          var searchField = $('#search').val();
          try{
              var expression = new RegExp(searchField, "i");
          }catch(e){
              return false;
          }
          var expression = new RegExp(searchField, "i");
          
          if (searchField != '' || searchField != 0 ){
              $.each(search_content, function(key, value){
              if(value.title.search(expression) != -1 || value.category.search(expression) != -1)
              {
                $('#result').append('<li class="list-group-item" id='+ value.id +'><a href="#">'+ value.title +'</a></li>');
              }
            })
          }
        })
        //end:filtering

        $('#result').on('click', 'li', function() {
          {% comment %} var click_text = $(this).text().split('|');
          $('#search').val($.trim(click_text[0]));
          $("#result").html(''); {% endcomment %}
          alert('searching')
        });

    });
    
  </script>

  <script>
    // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
  </script>
</body>

</html>
